<%= turbo_frame_tag 'totals' do %>
  <%= render_card(
      title: 'Balance total',
      icon: 'badge-dollar-sign',
      class: 'bg-blue-500 text-white w-70') do %>

    <div class="p-6 pt-0">
      <p class="text-2xl mb-2"><%= to_money_format @dashboard.account_balance %></p>
      <small class="flex font-size-xxs">
        <%= lucide_icon @dashboard.balances_higher_than_previous_period? ? 'move-up-right' : 'move-down-left' %>
        <%= to_money_format @dashboard.prev_account_balance %>
      </small>
    </div>
  <% end %>
<% end %>

<% @money_accounts.each do |account| %>
  <%= turbo_frame_tag "account_#{account.id}" do %>
    <%= render_card(
        title: account.name,
        class: 'w-70',
        subtitle: account.user.name) do %>

      <div class="p-5 pt-0">
        <p class="text-2xl mb-2"><%= to_money_format account.balance %></p>
      </div>
    <% end %>
  <% end %>
<% end %>