<div data-tabs-content="users" class="mt-6">
  <%= render CardComponent.new do %>
    <%= render CardComponent::Header.new do %>
      <%= render CardComponent::Title.new { "Gastos personales - #{@user.name}" } %>
      <%= render CardComponent::Description.new { "Gatos individuales" } %>
    <% end %>

    <%= render CardComponent::Content.new do %>
      <div class="space-y-4">
        <%= render partial: "/dashboard/expense", collection: @user_expenses, as: :expense %>
      </div>
    <% end %>
  <% end %>
</div>