<br />
<%= render CardComponent.new do %>
  <%= render CardComponent::Header.new do %>
    <%= render CardComponent::Title.new { "Gastos Recientes" } %>
    <%= render CardComponent::Description.new { "Últimos movimientos de gastos compartidos y personales" } %>
  <% end %>

  <%= render CardComponent::Content.new do %>
    <div class="space-y-4">
      <%= turbo_frame_tag 'expenses' do %>
        <% if @recent_expenses.any? %>
          <%= render partial: "expense", collection: @recent_expenses, as: :expense %>
        <% else %>
          <p class="text-center">No hay gatos este mes</p>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>