<div class="space-y-6" data-controller="dashboard">
  <!-- Header -->
  <%= content_for :header_button do %>
    <a href="<%= new_expense_path %>" data-turbo-frame="modal" class="hidden md:inline-flex <%= link_as_button_classes %>">
      <%= lucide_icon 'plus' %>
      Agregar Gasto
    </a>
  <% end %>

  <% content_for :mobile_primary_action do %>
    <a href="<%= new_expense_path %>"
      data-turbo-frame="modal"
      class="<%= mobile_primary_action_classes %>"
      style="box-shadow: 0 4px 14px rgba(0,0,0,0.15);">
      <%= lucide_icon 'plus', class: "w-7 h-7" %>
    </a>
  <% end %>

  <%= render partial: 'layouts/header' %>

  <%= render_accordion(container: 'summary_cards_content', initial_state: 'open') do %>
    <%= accordion_title do %>
      <h3 class="text-lg font-semibold">Resumen de gastos</h3>
    <% end %>

    <%= accordion_description do %>
      <%= turbo_frame_tag 'summary_cards' do %>
        <%= render partial: 'dashboard/summary_cards' %>
      <% end %>
    <% end %>
  <% end %>

  <%
    items = [
      {
        name: "Gastos recientes",
        value: "recent",
        selected: params[:filter] == 'recent'
      },
      {
        name: "Mis gastos",
        value: "by_user:#{current_user.id}",
        selected: params[:filter] == 'by_user'
      }
    ]

    @budgets.each do |budget|
      items << {
        name: budget.name,
        value: "by_budget:#{budget.id}",
        selected: params[:filter] == "by_budget"
      }
    end

    @money_accounts.each do |account|
      items << {
        name: account.name,
        value: "by_money_account:#{account.id}",
        selected: params[:filter] == "by_money_account"
      }
    end
  %>

  <div class="flex justify-end">
    <%= render_combobox items, class: 'w-full md:w-auto', turbo_frame: 'expenses', link: dashboard_index_path do %>
      <%= combobox_trigger do %>
        <span><%= (items.find { |item| item[:value] == params[:filter] } || items.first)[:name] %></span>
      <% end %>
    <% end %>
  </div>

  <%= turbo_frame_tag 'expenses', data: { turbo_action: 'advance' } do %>
    <%= render partial: "dashboard/expenses" %>
  <% end %>
</div>