<div class="space-y-6" data-controller="dashboard">
  <!-- Header -->
  <%= content_for :header_button do %>
    <a href="<%= new_expense_path %>" data-turbo-frame="modal" class="hidden md:inline-flex <%= link_as_button_classes %>">
      <%= lucide_icon 'plus' %>
      Agregar Gasto
    </a>
  <% end %>

  <% content_for :mobile_primary_action do %>
    <a href="<%= new_expense_path %>"
      data-turbo-frame="modal"
      class="<%= mobile_primary_action_classes %>"
      style="box-shadow: 0 4px 14px rgba(0,0,0,0.15);">
      <%= lucide_icon 'plus', class: "w-7 h-7" %>
    </a>
  <% end %>

  <%= render partial: 'layouts/header' %>

  <%= render_accordion(container: 'summary_cards_content', initial_state: 'open') do %>
    <%= accordion_title do %>
      <h3 class="text-lg font-semibold">Resumen de gastos</h3>
    <% end %>

    <%= accordion_description do %>
      <%= turbo_frame_tag 'summary_cards' do %>
        <%= render partial: 'dashboard/summary_cards' %>
      <% end %>
    <% end %>
  <% end %>

  <%
    items = [
      {
        name: "Gastos recientes",
        value: "tab_expenses",
        selected: params[:tab_content] == 'tab_expenses'
      },
      {
        name: "Mis gastos",
        value: "tab_user",
        selected: params[:tab_content] == 'tab_user'
      }
    ]

    @budgets.each do |budget|
      items << {
        name: budget.name,
        value: "tab_budget",
        selected: params[:tab_content] == "tab_budget"
      }
    end
  %>

  <div class="flex justify-end">
    <%= render_combobox items do %>
      <%= combobox_trigger do %>
        <%= (items.find { |item| item[:value] == params[:tab_content] } || items.first)[:name] %>
      <% end %>
    <% end %>
  </div>


  <%= turbo_frame_tag 'tab_content', data: { turbo_action: 'advance' } do %>
    <%= render partial: "dashboard/#{params[:tab_content]}" %>
  <% end %>
</div>