<div class="space-y-6" data-controller="dashboard">
  <!-- Header -->
  <%= render partial: 'layouts/header' %>

  <!-- Summary Cards -->
  <%= turbo_frame_tag 'summary_cards' do %>
    <%= render partial: 'dashboard/summary_cards' %>
  <% end %>

  <!-- Tabs -->
  <nav class="bg-gray-200 p-1 rounded-xl shadow-lg sm:p-2 sm:rounded-2xl">
    <div class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-2 justify-between items-center">
      <%= render LinkComponent.new(variant: :pill, class: params[:tab_content] == 'tab_expenses' ? 'bg-white' : '', href: root_path(tab_content: 'tab_expenses')) do %>
        Gastos compartidos
      <% end %>

      <% @summary[:users_summary].each do |user| %>
        <%= render LinkComponent.new(variant: :pill, class: params[:tab_content] == 'tab_user' && params[:user_id].present? && @user.present? && user[:id].to_s == params[:user_id] ? 'bg-white' : '', href: root_path(tab_content: 'tab_user', user_id: user[:id])) do %>
          Gastos <%= user[:name] %>
        <% end %>
      <% end %>

      <%= render LinkComponent.new(variant: :pill, class: params[:tab_content] == 'tab_savings' ? 'bg-white' : '', href: root_path(tab_content: 'tab_savings')) do %>
        Planes de ahorro
      <% end %>
    </div>
  </nav>

  <%= turbo_frame_tag 'tab_content', data: { turbo_action: 'advance' } do %>
    <%= render partial: "dashboard/#{params[:tab_content]}" %>
  <% end %>
</div>