<div class="space-y-6" data-controller="dashboard">
  <!-- Header -->
  <div class="flex justify-between items-center">
    <div>
      <h1 class="text-3xl font-bold text-gray-900">
        <a href="<%= root_path %>">Dashboard</a>
      </h1>
      <p class="text-gray-600"><%= Date.current.strftime("%B %Y") %></p>
    </div>

    <div class="flex" style="gap: 10px">
      <a href="<%= new_money_account_path %>" data-turbo-frame="modal" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-750 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-gray-950 text-white hover:bg-gray-800 h-10 px-4 py-2">
        <%= lucide_icon 'plus' %>
        Agregar Cuenta
      </a>

      <div class="relative inline-block text-left">
        <a data-action="click -> dropdown#toggle" data-controller="dropdown" class="cursor-pointer inline-flex w-full justify-center gap-x-1.5 rounded-md px-3 py-2 text-sm font-semibold text-gray-900" aria-expanded="true" aria-haspopup="true">
          <%= lucide_icon 'more-vertical', class: 'w-6 h-6 text-gray-600' %>
        </a>

        <div class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-hidden" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
          <div class="py-1" role="none">
            <!-- Active: "bg-gray-100 text-gray-900 outline-hidden", Not Active: "text-gray-700" -->
            <%= link_to 'Cuentas', money_accounts_path,class: "block px-4 py-2 text-sm text-gray-700"  %>

            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-1">Support</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-2">License</a>
            <form method="POST" action="#" role="none">
              <button type="submit" class="block w-full px-4 py-2 text-left text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-3">Sign out</button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="flash"></div>

  <div class="accounts-card--container">
    <% @money_accounts.each do |account| %>
      <%= render partial: 'money_accounts/money_account', locals: { account: account } %>
    <% end %>
  </div>
</div>

<div class="hidden rounded-lg border border-gray-200 bg-card text-card-foreground shadow-sm mt-8">
  <div class="flex flex-col space-y-1.5 p-6">
    <h3 class="font-semibold tracking-tight text-lg">Filtros</h3>
  </div>
  <div class="p-6 pt-0">
    <div class="flex gap-2">
      <div class="relative">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search absolute left-3 top-3 h-4 w-4 text-gray-400">
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </svg>
        <input class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 pl-10" placeholder="Buscar movimientos..." value="">
      </div>
      <button type="button" role="combobox" aria-controls="radix-_r_f_" aria-expanded="false" aria-autocomplete="none" dir="ltr" data-state="closed" class="flex h-10 w-full items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&amp;&gt;span]:line-clamp-1">
        <span style="pointer-events: none;">Todas las cuentas</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down h-4 w-4 opacity-50" aria-hidden="true">
          <path d="m6 9 6 6 6-6"></path>
        </svg>
      </button>
      <button type="button" role="combobox" aria-controls="radix-_r_g_" aria-expanded="false" aria-autocomplete="none" dir="ltr" data-state="closed" class="flex h-10 w-full items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&amp;&gt;span]:line-clamp-1">
        <span style="pointer-events: none;">Todas las categorías</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down h-4 w-4 opacity-50" aria-hidden="true"><path d="m6 9 6 6 6-6"></path></svg>
      </button>
      <button class="justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 border border-input hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 flex items-center gap-2 bg-transparent">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-filter h-4 w-4">
          <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
        </svg>
        Más filtros
      </button>
    </div>
  </div>
</div>

<%= render CardComponent.new(class: 'mt-8') do %>
  <%= render CardComponent::Header.new(class: 'justify-between', style: 'flex-direction: row') do %>
    <div>
      <%= render CardComponent::Title.new { "Movimientos Recientes" } %>
      <%= render CardComponent::Description.new { "#{@transactions.count} movimientos encontrados" } %>
    </div>

    <a href="<%= new_expense_path %>" data-turbo-frame="modal" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-750 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-gray-950 text-white hover:bg-gray-800 h-10 px-4 py-2">
      <%= lucide_icon 'plus' %>
      Agregar Gasto
    </a>
  <% end %>

  <%= render CardComponent::Content.new do %>
    <div class="space-y-4">
      <%= turbo_frame_tag 'expenses' do %>
        <% @transactions.each do |transaction| %>
          <%= render partial: 'money_accounts/transaction', locals: { transaction: } %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

