<div class="space-y-6" data-controller="dashboard">

  <%= content_for :header_button do %>
    <a href="<%= new_money_account_path %>" data-turbo-frame="modal" class="flex <%= link_as_button_classes %>">
      <%= lucide_icon 'plus' %>
      Agregar Cuenta
    </a>
  <% end %>

  <% content_for :mobile_primary_action do %>
    <a href="<%= new_money_account_path %>"
      data-turbo-frame="modal"
      class="<%= mobile_primary_action_classes %>"
      style="box-shadow: 0 4px 14px rgba(0,0,0,0.15);">
      <%= lucide_icon 'plus', class: "w-7 h-7" %>
    </a>
  <% end %>

  <%= render partial: 'layouts/header' %>

  <div id="money_accounts" class="md:flex flex-col md:flex-row gap-3" style="overflow: hidden;overflow-x: auto;padding-bottom: 11px;">
    <%= render partial: 'money_accounts/total_balance', locals: { account: @global_account } %>

    <% @money_accounts.each do |account| %>
      <%= render partial: 'money_accounts/money_account', locals: { account: account } %>
    <% end %>
  </div>
</div>

<div class="hidden rounded-lg border border-gray-200 bg-card text-card-foreground shadow-sm mt-8">
  <div class="flex flex-col space-y-1.5 p-6">
    <h3 class="font-semibold tracking-tight text-lg">Filtros</h3>
  </div>
  <div class="p-6 pt-0">
    <div class="flex gap-2">
      <div class="relative">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search absolute left-3 top-3 h-4 w-4 text-gray-400">
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </svg>
        <input class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 pl-10" placeholder="Buscar movimientos..." value="">
      </div>
      <button type="button" role="combobox" aria-controls="radix-_r_f_" aria-expanded="false" aria-autocomplete="none" dir="ltr" data-state="closed" class="flex h-10 w-full items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&amp;&gt;span]:line-clamp-1">
        <span style="pointer-events: none;">Todas las cuentas</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down h-4 w-4 opacity-50" aria-hidden="true">
          <path d="m6 9 6 6 6-6"></path>
        </svg>
      </button>
      <button type="button" role="combobox" aria-controls="radix-_r_g_" aria-expanded="false" aria-autocomplete="none" dir="ltr" data-state="closed" class="flex h-10 w-full items-center justify-between rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&amp;&gt;span]:line-clamp-1">
        <span style="pointer-events: none;">Todas las categorías</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down h-4 w-4 opacity-50" aria-hidden="true"><path d="m6 9 6 6 6-6"></path></svg>
      </button>
      <button class="justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 border border-input hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 flex items-center gap-2 bg-transparent">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-filter h-4 w-4">
          <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
        </svg>
        Más filtros
      </button>
    </div>
  </div>
</div>

<%= render_card(title: "Movimientos recientes", subtitle: "#{@transactions.count} movimientos encontrados", class: 'relative w-full mt-6') do %>
  <a href="<%= new_expense_path %>" data-turbo-frame="modal" style="top: 14px;right: 20px;" class="hidden absolute w-full md:w-auto mt-2 md:inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-750 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-gray-950 text-white hover:bg-gray-800 h-10 px-4 py-2">
    <%= lucide_icon 'plus' %>
    Agregar Gasto
  </a>

  <div class="space-y-4 px-6">
    <%= turbo_frame_tag 'expenses' do %>
      <% @transactions.each do |transaction| %>
        <%= render partial: 'money_accounts/transaction', locals: { transaction: } %>
      <% end %>
    <% end %>
  </div>
<% end %>