<%= turbo_frame_tag 'modal' do %>
  <div class="mb-5 flex flex-col space-y-1.5 text-start sm:text-left">
    <h2 class="text-lg font-semibold leading-none tracking-tight">Editar cuenta</h2>
    <p class="text-xs text-muted-foreground">
      Rastrea tus gastos y manten un control de tus finanzas personales.
    </p>
  </div>

  <%= simple_form_for @money_account do |f| %>
    <%= render partial: 'form', locals: { f: f }%>

    <div class="flex justify-end gap-1">
      <%= render ButtonComponent.new(variant: :secondary, "data-action": "click->modal#close") do %>
        Cancelar
      <% end %>

      <%= render ButtonComponent.new(variant: :primary, type: 'submit') do %>
        Actualizar cuenta
      <% end %>
    </div>

  <% end %>
<% end %>