<div class="space-y-6" data-controller="dashboard">
  <!-- Header -->
  <%= content_for :header_button do %>
    <a href="<%= new_transaction_group_path %>" data-turbo-frame="modal" class="<%= link_as_button_classes %>">
      <%= lucide_icon 'plus' %>
      Agregar grupo de gastos
    </a>
  <% end %>

  <%= render partial: 'layouts/header' %>

  <div id="budgets" class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <% @transaction_groups.each do |transaction_group| %>
      <%= render partial: 'transaction_groups/transaction_group', locals: { transaction_group: } %>
    <% end %>
  </div>
</div>