<div class="space-y-6" data-controller="dashboard">
  <!-- Header -->
  <%= content_for :header_button do %>
    <a href="<%= new_budget_path %>" data-turbo-frame="modal" class="<%= link_as_button_classes %>">
      <%= lucide_icon 'plus' %>
      Agregar budget
    </a>
  <% end %>

  <%= render partial: 'layouts/header' %>

  <div id="budgets" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <% @budgets.each do |budget| %>
      <%= render partial: 'budgets/budget', locals: { budget: } %>
    <% end %>
  </div>
</div>