<%= turbo_frame_tag 'modal' do %>
  <div class="mb-5 flex flex-col space-y-1.5 text-start sm:text-left">
    <h2 class="text-lg font-semibold leading-none tracking-tight">Editar producto</h2>
  </div>

  <%= simple_form_for @store_item , url: item_price_store_item_path(@item_price) do |f| %>
    <%= render partial: 'form', locals: { f: f }%>

    <%= f.simple_fields_for :item_prices do |item_price_fields| %>
      <% if item_price_fields.object.id ==  @item_price.id %>
        <%= render partial: 'item_price_fields', locals: { f: item_price_fields } %>
      <% end %>
    <% end %>

    <div class="flex justify-end gap-1">
      <%= render ButtonComponent.new(variant: :secondary, "data-action": "click->modal#close") do %>
        Cancelar
      <% end %>

      <%= render ButtonComponent.new(variant: :primary, type: 'submit') do %>
        Editar
      <% end %>
    </div>
  <% end %>
<% end %>