<%= turbo_frame_tag 'modal' do %>
  <div class="mb-5 flex flex-col space-y-1.5 text-start sm:text-left">
    <h2 class="text-lg font-semibold leading-none tracking-tight">Agregar producto</h2>
  </div>

  <%= simple_form_for @store_item do |f| %>
    <%= render partial: 'form', locals: { f: f } %>

    <%= f.simple_fields_for :item_prices do |item_price_fields| %>
      <%= render partial: 'item_price_fields', locals: { f: item_price_fields } %>
    <% end %>

    <div class="flex justify-end gap-1 mt-6">
      <%= render ButtonComponent.new(variant: :secondary, "data-action": "click->modal#close") do %>
        Cancelar
      <% end %>

      <%= render ButtonComponent.new(variant: :primary, type: 'submit') do %>
        Agregar
      <% end %>
    </div>
  <% end %>
<% end %>