<%= turbo_frame_tag dom_id(item_price) do %>
  <%= render_card(class: 'w-full text-start p-7 mb-5') do %>

    <div class="grid grid-cols-2 gap-4">
      <div class="">
        <h3 class="text-xl font-semibold leading-none tracking-tight"><%= item_price.store_item.name %> (<%= item_price.store_item.package %>)</h3>
        <p class="text-sm text-muted-foreground"><%= item_price.store.name %></p>
      </div>
      <div class="grid justify-end gap-4">
        <div class="flex justify-end gap-4">
          <div class="text-2xl text-end font-semibold">
            <%= item_price.amount.format %>
          </div>
          <%= link_to edit_item_price_store_item_path(id: item_price.store_item, item_price_id: item_price.id), "data-turbo-frame": "modal", class: "items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-750 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-gray-950 text-white hover:bg-gray-800 h-10 px-4 py-2", 'data-turbo-frame': "modal" do %>
            <%= lucide_icon 'pencil', class: 'text-white', class: 'text-white', style: 'width: 20px; height: 20px; font-weight: 300' %>
          <% end %>

          <%= link_to item_price_path(item_price), class: "border border-red-500 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-gray-750 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:text-white hover:bg-red-800 h-10 px-4 py-2", data: { 'turbo-method': 'delete', "turbo-confirm": '¿Estas seguro? No se podrá revertir' } do %>
            <%= lucide_icon 'trash-2', class: 'text-red-500', style: 'width: 20px; height: 20px; font-weight: 300' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>