<%= f.input :description %>
<%= f.input :amount_cents %>
<%= f.input :money_account_id, as: :select, collection: current_account.money_accounts, prompt: 'Select an option' %>
<%= f.input :comment, as: :text %>
<%= f.input :transaction_date, as: :string, input_html: { type: 'date'} %>
<%= f.input :budget_id, as: :select, collection: current_account.budgets, prompt: 'Select an option' %>

<div class="grid gap-1 mb-6" data-controller="toggable">
  <label class="<%= label_classes %>">Tipo de gasto</label>
  <%= f.collection_radio_buttons :transaction_type, [['personal', 'Personal'], ['shared', 'Compartido']], :first, :last do |builder| %>
    <%= builder.radio_button(id: "transaction-type-#{builder.value}", data: { action: 'change->toggable#toggle change->expense-form#getSplitsFields', target: '#percentage' }) %>
    <%= builder.label(class: label_classes) %>
  <% end %>

  <div id="percentage" data-expense-form-target="percentage" data-persisted="<%= @expense.persisted? %>" class="mt-6 card border border-gray-200 p-5 <%= f.object.shared? ? '' : 'hidden' %>">
    <% if @expense.shared? %>
      <%= render partial: 'expenses/expense_splits_fields', locals: { f: f } %>
    <% end %>
  </div>
</div>

<div class="grid gap-1 mb-6">
  <label class="<%= label_classes %>">Quien pago?</label>
  <%= f.collection_radio_buttons :user_id, User.all, :id, :name, selected: current_user %>
</div>