<div class="flex justify-between items-center gap-2">

  <div>
    <h1 class="text-3xl font-bold text-gray-900">
      <a href="<%= root_path %>">Dashboard</a>
    </h1>
    <p class="text-gray-600"><%= Date.current.strftime("%B %Y") %></p>
  </div>

  <div class="hidden md:flex" style="gap: 10px">
    <%= yield :header_button %>

    <div class="relative inline-block text-left">
      <a data-action="click -> dropdown#toggle" data-controller="dropdown" class="cursor-pointer inline-flex w-full justify-center gap-x-1.5 rounded-md px-3 py-2 text-sm font-semibold text-gray-900" aria-expanded="true" aria-haspopup="true">
        <%= lucide_icon 'more-vertical', class: 'w-6 h-6 text-gray-600' %>
      </a>

      <div class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-hidden" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
          <%= link_to 'Cuentas', money_accounts_path, class: "block px-4 py-2 text-sm text-gray-700"  %>
          <%= link_to 'Budgets', budgets_path,class: "block px-4 py-2 text-sm text-gray-700"  %>
          <%= link_to 'Grupos de gastos', transaction_groups_path,class: "block px-4 py-2 text-sm text-gray-700"  %>
        </div>
      </div>
    </div>
  </div>

  <div class="md:hidden" data-controller="mobile-menu">
    <a data-action="click->mobile-menu#open">
      <%= lucide_icon 'menu' %>
    </a>
    <!-- Drawer para mobile -->
    <div data-mobile-menu-target="drawer"
        class="fixed inset-0 z-50 bg-white transition-transform duration-300 translate-x-full md:hidden"
        style="will-change: transform;">
      <div class="flex justify-end p-4">
        <a href="#" data-action="click->mobile-menu#close">
          <%= lucide_icon 'x' %>
        </a>
      </div>
      <nav class="flex flex-col gap-4 px-8">
        <%= link_to 'Cuentas', money_accounts_path, class: "text-lg py-2" %>
        <%= link_to 'Budgets', budgets_path, class: "text-lg py-2" %>
        <%= link_to 'Grupos de gastos', transaction_groups_path, class: "text-lg py-2" %>
      </nav>
    </div>
  </div>

</div>

<div id="flash">
  <%= render partial: 'layouts/alerts' %>
</div>